$font: 'DotGothic16', sans-serif;

@import '~bulma/bulma.sass';

* {
  font-family: $font;
}

//Home
.disclaimer {
  text-align: center;
  font-family: $font;

}
.button {
  text-align: center;
  width: 300px;
  align-content: center;
  margin-top: 30px;
  font-family: $font;
}

.accept {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.accept:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



img {
  text-align: center;
  align-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.joke-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.laughing-gif {
  margin: 20px;
}

.footer {
  font-size: 8px;
  align-items: baseline;
  background-color: #FFFFFF;
}

.footerDiv {
  bottom:0;
  width:100%;
  height:140px;
  position: fixed;
  text-align: center;
}

//Jokes
.jokeText {
  font-size: 20px;
  margin: 10px;
  
}


.jokeDiv {
  margin: 30px;
  border: 2px solid black;
  
}

.categoryDiv {
  margin: 45px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}


.ratingButtons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ratingP {
  text-align: center;
}

.you-rated-the-joke{
  text-align: center;
}
