$font: 'DotGothic16', sans-serif;

@import '~bulma/bulma.sass';

* {
  font-family: $font;
}

//Home
.disclaimer {
  text-align: center;
  font-family: $font;

}
.button {
  text-align: center;
  width: 300px;
  align-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
}


//Jokes
.jokeText {
  font-size: 20px;
  margin: 10px;
  
}

.jokeDiv {
  margin: 30px;
  border: 2px solid black;
}

.categoryDiv {
  margin: 45px;
}